<div class="menu-sidebar nav bg-dark-blue d-md-none d-lg-block">
	<small class="d-block pl-3 mt-3 mb-2 text-muted text-uppercase font-weight-bold">Навигация</small>
	<ul class="p-0">
		<li class="nav-item">
			<a href="#" class="nav-link">
				<i class="menu-icon fas fa-list"></i> Рабочий стол
			</a>
		</li>
		<li class="nav-item open">
			<a href="#" class="nav-link nav-link-parent">
				<i class="menu-icon fas fa-th"></i> Компоненты
			</a>
			<ul class="menu-sidebar-child nav flex-column">
				<li class="nav-item">
					<a href="#" class="nav-link">
						Хлебные крошки
					</a>
				</li>
				<li class="nav-item">
					<a href="#" class="nav-link active">
						Cards
					</a>
				</li>
			</ul>
		</li>
		<li class="nav-item">
			<a href="#" class="nav-link nav-link-parent">
				<i class="menu-icon fas fa-plug"></i> Уитлиты
			</a>
			<ul class="menu-sidebar-child nav flex-column">
				<li class="nav-item">
					<a href="#" class="nav-link">
						Цветовая схема
					</a>
				</li>
			</ul>
		</li>
		<li class="nav-item">
			<a href="#" class="nav-link nav-link-parent">
				<i class="menu-icon fas fa-table"></i> Таблицы
			</a>
			<ul class="menu-sidebar-child nav flex-column">
				<li class="nav-item">
					<a href="#" class="nav-link">
						Bootstrap
					</a>
				</li>
				<li class="nav-item">
					<a href="#" class="nav-link">
						Datatables
					</a>
				</li>
			</ul>
		</li>
		<li class="nav-item">
			<a href="#" class="nav-link nav-link-parent">
				<i class="menu-icon fas fa-file"></i> Страницы
			</a>
			<ul class="menu-sidebar-child nav flex-column">
				<li class="nav-item">
					<a href="#" class="nav-link">
						Авторизация
					</a>
				</li>
				<li class="nav-item">
					<a href="#" class="nav-link">
						404 ошибка
					</a>
				</li>
			</ul>
		</li>
	</ul>
</div>